In [2]:
import sys 
print(sys.version)  #with the help of sys module you cancheck version of your code editor

3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]

In [5]:
if 5 > 2:
    print("5 is greater than 2")#indentation is must here without proper indentation it will give u error

5 is greater than 2

In [7]:
x=5
print(x) #python has no command no to assign or declaring variable and u can comment line wth of #

5

In [8]:
"""
helon
fdshfjds
jdfkjdfhda
hfjdgfdsj
this is for multi line comment
s"""

'\nhelon\nfdshfjds\njdfkjdfhda\nhfjdgfdsj\nthis is for multi line comment\ns'

In [24]:
a=4
A="me"
print(a)
print(A) #here a will not overhere because it has different values

4
me

In [16]:
a, b, c = 4, 5,6
print(b)
a=b=c = 4
print(a)

5
4

In [23]:
a='lizzie'  #here variables are declared outside of function so called as global variable
def myfunc():
    print("hi " + a)
myfunc()

hi lizzie

In [25]:
def myname():
    global x    #with the help of global keyword u can assign 
    x ="ghfg"
    
myname()
print("fhsdgsv" + x)

fhsdgsvghfg

In [1]:
a=2
type(a)

int

In [3]:
d=3.4
type(d)

float

In [5]:
b="sedf"
type(b)

str

In [6]:
a=True
B=False
a & B
#and &

False

In [7]:
#logical operator - and or not
a | B  #or |

True

In [8]:
ans= "my name is priyanka"

In [9]:
ans.lower()

'my name is priyanka'

In [10]:
ans.upper()

'MY NAME IS PRIYANKA'

In [11]:
ans.replace(" ", "*")

'my*name*is*priyanka'

In [13]:
ans.find('a')

4

In [14]:
ans[:-1]

'my name is priyank'

In [15]:
ans[2:9]

' name i'

In [16]:
ans.split(" ")

['my', 'name', 'is', 'priyanka']

In [17]:
#even or odd

ans=int(input("enter your number"))
if ans % 2 ==0:
    print("number is even")
else:
    print("number is odd")

enter your number2
number is even

In [20]:
#positive negative zero

num = int(input("enter your number"))
if num==0:
    print("number is zero")
elif num > 0:
    print("number is positive")
else:
    print("number is negative")

enter your number-1
number is negative

In [29]:
#factorial 5*4*3*2*1

num=int(input("enter ur num"))
factorial =1
if num < 0:
    print("factorial doesn't exist for less than 0")
elif num==0:
    print("factorial becomes 1")
else:
    for i in range(1, num+1):
        factorial *=i
    print(factorial)

enter ur num3
6

In [33]:
#reverse

num=int(input("enter ur number"))
rev = 0
while num >0:
    digit = num%10
    rev = rev*10 + digit
    num= num//10
    
print(rev)

enter ur number946823
328649

In [36]:
#palindrome

num=int(input("enter ur number"))
rev=0
temp=num
while num > 0:
    digit = num%10
    rev = rev*10 + digit
    num = num//10
    
if (temp==rev):
    print("palindome")
else:
    print("not palindrome")

enter ur number25852
palindome

In [38]:
#fibbonacci 0, 1, 1, 2,  3, 5, 8, 13, 21, ....................

n=int(input("enter ur number"))
a=0
b=1
if n < 0:
    print("incorrect")
elif n ==0:
    print(a)
elif n==1:
    print(a)
else:
    for i in range(2, n):
        c=a+b
        a=b
        b=c
    print(b)

enter ur number8
13

In [39]:
def hello():
    print("hello world")

In [40]:
hello()

hello world

In [41]:
def add10(x):
    return x+10

In [43]:
add10(3)

13

In [44]:
def even_odd(x):
    if x%2==0:
        print("even")
    else:
        print("odd")

In [45]:
even_odd(23)

odd

In [46]:
#lambda function

In [47]:
num = lambda x:x*x*x

In [48]:
num(7)

343

In [59]:
#lambda with filter

lis = [23,5 ,5,20, 56, 82, 27,61]
fin_lis = list(filter(lambda x: (x%2 !=0 ), lis))
fin_lis

[23, 5, 5, 27, 61]

In [53]:
fin_lis

[23, 5, 5, 27, 61]

In [58]:
#Lambda with map

lis = [23,5 ,5,20, 56, 82, 27,61]
final=list(map(lambda x:x * 20, lis))
final

[460, 100, 100, 400, 1120, 1640, 540, 1220]

In [60]:
#lambda with reduce

from functools import reduce
lis = [23,5 ,5,20, 56, 82, 27,61]
sum=reduce((lambda x,y:x+y), lis)   #adding all for sum
sum

279

In [61]:
def fun(n):
    n = 5
    return n

n = 10
n = fun(n)
print(n)

5

In [117]:
# 10 is the total number to print
for num in range(6):
    for i in range(num):
        print (num,end=" ") #print number
    # new line after each row to display pattern correctly
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [82]:
#crating class with python

class phone:
    def make_phone(self):
        print("making a call")
        
    def play_phone(self):
        print("playing games")

In [83]:
p1=phone()

In [65]:
p1.make_phone()

making a call

In [66]:
p1.play_phone()

playing games

In [73]:
#adding parameters to class

class Phone:
    def set_colour(self, colour):
        self.colour=colour
        
    def set_cost(self, cost):
        self.cost=cost
        
    def show_colour(self):
        return self.colour
    
    def show_cost(self):
        return self.cost
    
    def make_phone(self):
        print("make a call")
        
    def play_phone(self):
        print("playing games")

In [74]:
p2=Phone()

In [75]:
p2.set_colour('blue')

In [76]:
p2.set_cost(45)

In [77]:
p2.show_colour()

'blue'

In [79]:
p2.show_cost()

45

In [80]:
p2.make_phone()

make a call

In [81]:
p2.play_phone()

playing games

In [84]:
#creating class with constructor
#init method acts as constructor

In [85]:
class Employee:
    def __init__(self, name, age, salary, gender):
        self.name=name
        self.age=age
        self.salary=salary
        self.gender=gender
        
    def show_details(self):
        print("name of employee", self.name)
        print("age of employee", self.age)
        print("salary of employee", self.salary)
        print("gender of employee", self.gender)

In [88]:
e1=Employee("Priyanka", 23, 34323, "Female")

In [89]:
e1.show_details()

name of employee Priyanka
age of employee 23
salary of employee 34323
gender of employee Female

In [90]:
#inheritance of class - one class derive properties of another class

In [95]:
class vehicle:
    def __init__(self, mileage, cost):
        self.mileage=mileage
        self.cost=cost
        
    def show_details(self):
        print("I am vehicle")
        print("Mileage is", self.mileage)
        print("cost is", self.cost)

In [96]:
v1=vehicle(300, 200000)

In [97]:
v1.show_details()

I am vehicle
Mileage is 300
cost is 200000

In [99]:
#create child class
class Car(vehicle):
    def show_car_details(self):
        print("I am car")

In [100]:
c1=Car(200, 100000)

In [102]:
c1.show_details()

I am vehicle
Mileage is 200
cost is 100000

In [103]:
c1.show_car_details()

I am car

In [110]:
#overriding init method

#init method 

class vehicle:
    def __init__(self, mileage, cost):
        self.mileage=mileage
        self.cost=cost
        
    def show_details(self):
        print("I am vehicle")
        print("Mileage is", self.mileage)
        print("cost is", self.cost)
        
class Car(vehicle):
    def __init__(self, mileage, cost, tyres, hp):
        super().__init__(mileage, cost)
        self.tyres=tyres
        self.hp=hp
        
    def show_car_details(self):
        print("I am car")
        print("tyres count is", self.tyres)
        print("horse power is", self.hp)

In [114]:
c2 = Car(20,400000,4,454)

In [115]:
#invoking from parent class

c2.show_details()

I am vehicle
Mileage is 20
cost is 400000

In [116]:
#invoking from child class
c2.show_car_details()

I am car
tyres count is 4
horse power is 454

In [118]:
#types of inheritance

In [119]:
# 1.single inheritance
# 2. multiple (mote than one parent class)
# 3. multilevel 
# 4.hybrid inheritance

In [121]:
#creating parent class

class Parent1:
    def assign_str1(self, str1):
        self.str1 = str1
    def show_str1(self):
        print(self.str1)

class Parent2:
    def assign_str2(self, str2):
        self.str2 = str2
    def show_str2(self):
        print(self.str2)

In [122]:
#creating child class
class Child(Parent1, Parent2):
    def assign_str3(self, str3):
        self.str3 = str3
    def show_str3(self):
        print(self.str3)

In [123]:
c1= Child()

In [124]:
c1.assign_str1("Sparta")

In [125]:
c1.assign_str2("Hello")

In [126]:
c1.assign_str3("World")

In [127]:
c1.show_str1()

Sparta

In [129]:
c1.show_str2()

Hello

In [130]:
c1.show_str3()

World

In [131]:
#multilevel
# parent child grandchild

In [137]:
class Parent:
    def assign_name(self, name):
        self.name=name
    def show_name(self):
        return self.name
    
class Child(Parent):
    def assign_age(self, age):
        self.age=age
    def show_age(self):
        return self.age
        
class GrandChild(Child):
    def assign_gender(self, gender):
        self.gender=gender
    def show_gender(self):
        return self.gender

In [138]:
g1=GrandChild()

In [139]:
g1.assign_name("Priyanka")

In [140]:
g1.assign_age(23)

In [141]:
g1.assign_gender("Female")

In [142]:
g1.show_name()

'Priyanka'

In [143]:
g1.show_age()

23

In [144]:
g1.show_gender()

'Female'

In [145]:
a=10

In [146]:
b=20

In [147]:
a!=b

True